<head>
  <div class="title">
    <img class="titleImg" src="<%=image_path('codeacademyW.png')%>" />
    <div class="titleText">Editing Post</div>
  </div>
</head>


<br>
<div class="edition">
  <%= render 'form' %>

  <%= link_to 'Show', @applicant %> |
  <%= link_to 'Back', applicants_path %>
</div>

